# Node.js
node_modules/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Tailwind JIT cache
.tailwind/

# Build outputs
dist/
build/

# Optional: if using vercel
.vercel/


