@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", "Vazir";
}

html {
    background-color: white; /* معادل bg-white */
}

html[theme="dark"] body {
    background-color: #2d3748; /* معادل bg-gray-800 در Tailwind */
}

/* For line clamp */
.line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#nprogress .spinner {
    display: none !important;
}

select,
input,
button {
    all: unset;
    box-sizing: border-box;
}

.btn-primary {
    @apply bg-indigo-600 text-white py-1.5 px-4 rounded hover:bg-indigo-700 transition;
}
.btn-secondary {
    @apply bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-white py-1.5 px-4 rounded hover:bg-gray-300 dark:hover:bg-gray-600 transition;
}
