@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Vazir";
}

/* For line clamp */
.line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#nprogress .spinner {
    display: none !important;
}
